
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-pulse infinite 30s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-image: linear-gradient(to right bottom, #29648a,#25274d);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.box {
  align-self: flex-end;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  background-color: rgb(17, 10, 9);
  height: 200px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 200px;
}
.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
}
@keyframes bounce-1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}