
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-pulse infinite 30s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-image: url("../src/images/Appbackgroundtester.jpg");
  background-size: cover;
  min-height: 100vh;
  height: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#eeeeee;
}

.App-link {
  color: #61dafb;
}
.box {
  align-self: flex-end;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  background-color: rgb(17, 10, 9);
  height: 200px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 200px;
}
.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
}
@keyframes bounce-1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}
.middlebar{
  background-image:linear-gradient(to right bottom, #1976d2,#1565c0);
  background-size: contain;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.secondbackground {
  background-image: url("../src/images/Appbackgroundtester2.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.middlebarimages{
  max-height: 100px;
  max-width: 100px;
}
.switchbutton{
  color: #42a5f5
}
.facephoto{
  max-height: 100px;
  max-width: 100px;
}
.footer{
  background-image:linear-gradient(to right bottom, #1976d2,#1565c0);
  background-size: cover;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.linkedimages{
  max-width: 40px;
  max-height: 40px;
}
.aboutme{
  text-align: center;
}
.aboutmephoto{
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
}
